<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="robot_base">

  <!-- BASE -->
  <link name="base_link"/>

  <link name="Body_link">
    <visual>
      <origin xyz="-0.2 0 -0.4" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://practica3/meshes/dae/Cube.014.dae"
              scale="1.6 0.8 0.1"/>
      </geometry>
    </visual>

    <collision>
      <origin xyz="-0.2 0 -0.4" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://practica3/meshes/dae/Cube.014.dae"
              scale="1.6 0.8 0.1"/>
      </geometry>
    </collision>

    <inertial>
      <origin xyz="-0.2 0 -0.4" rpy="0 0 0"/>
      <mass value="15.0"/>
      <inertia
        ixx="3.25"
        ixy="0.0"
        ixz="0.0"
        iyy="12.85"
        iyz="0.0"
        izz="16.0"/>
    </inertial>
  </link>

  <joint name="base_joint" type="fixed">
    <parent link="base_link"/>
    <child link="Body_link"/>
  </joint>

  <!-- LATERAL 1 -->
  <link name="Lat1_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://practica3/meshes/dae/Cube.015.dae"
              scale="0.8 0.05 0.1"/>
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://practica3/meshes/dae/Cube.015.dae"
              scale="0.8 0.05 0.1"/>
      </geometry>
    </collision>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0"/>
      <inertia
        ixx="0.16667"
        ixy="0.0"
        ixz="0.0"
        iyy="0.00417"
        iyz="0.0"
        izz="0.16417"/>
    </inertial>
  </link>

  <joint name="Lat1_link_joint" type="fixed">
    <parent link="Body_link"/>
    <child link="Lat1_link"/>
    <origin xyz="-1.0 -0.75 -0.2" rpy="0 0 0"/>
  </joint>

  <!-- LATERAL 2 -->
  <link name="Lat2_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://practica3/meshes/dae/Cube.016.dae"
              scale="0.8 0.05 0.1"/>
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://practica3/meshes/dae/Cube.016.dae"
              scale="0.8 0.05 0.1"/>
      </geometry>
    </collision>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0"/>
      <inertia
        ixx="0.16667"
        ixy="0.0"
        ixz="0.0"
        iyy="0.00417"
        iyz="0.0"
        izz="0.16417"/>
    </inertial>
  </link>

  <joint name="Lat2_link_joint" type="fixed">
    <parent link="Body_link"/>
    <child link="Lat2_link"/>
    <origin xyz="-1.0 0.75 -0.2" rpy="-0.01745 0 0"/>
  </joint>

  <!-- LATERAL 3 -->
  <link name="Lat3_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://practica3/meshes/dae/Cube.017.dae"
              scale="0.7 0.05 0.1"/>
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://practica3/meshes/dae/Cube.017.dae"
              scale="0.7 0.05 0.1"/>
      </geometry>
    </collision>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0"/>
      <inertia
        ixx="0.16667"
        ixy="0.0"
        ixz="0.0"
        iyy="0.00417"
        iyz="0.0"
        izz="0.16417"/>
    </inertial>
  </link>

  <joint name="Lat3_link_joint" type="fixed">
    <parent link="Body_link"/>
    <child link="Lat3_link"/>
    <origin xyz="-0.25 0 -0.2" rpy="0 0 1.5708"/>
  </joint>

  <!-- LATERAL 4 -->
  <link name="Lat4_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://practica3/meshes/dae/Cube.145.dae"
              scale="0.7 0.05 0.1"/>
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://practica3/meshes/dae/Cube.145.dae"
              scale="0.7 0.05 0.1"/>
      </geometry>
    </collision>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0"/>
      <inertia
        ixx="0.16667"
        ixy="0.0"
        ixz="0.0"
        iyy="0.00417"
        iyz="0.0"
        izz="0.16417"/>
    </inertial>
  </link>

  <joint name="Lat4_link_joint" type="fixed">
    <parent link="Body_link"/>
    <child link="Lat4_link"/>
    <origin xyz="-1.75 0 -0.2" rpy="0 0 1.5708"/>
  </joint>

</xacro:macro>

</robot>