<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="materials">

  <material name="Material">
    <color rgba="0 0 0 1"/>
  </material>

  <material name="Material.001">
    <color rgba="0.8 0 0.00392 1"/>
  </material>

  <material name="Material.002">
    <color rgba="1 0.55686 0 1"/>
  </material>

  <material name="Material.003">
    <color rgba="0 0.5451 1 1"/>
  </material>

  <material name="Material.004">
    <color rgba="0 0.8 0.03922 1"/>
  </material>

  <material name="Material.005">
    <color rgba="0.8 0 0.26667 1"/>
  </material>

</xacro:macro>

</robot>